/important
/files/patients.txt
/files/protocol.txt
/files/config.json
/files/config_CHUV_TRM.json
/files/config_CHUV_RC7.json
/code/TODO.txt
/code/special_queries.py
/code/fuzz.py
.mypy_cache
/.pytest_cache
/.ipynb_checkpoints
/__pycache__
/code/__pycache__
protocol.csv
/build
/data
/code/.mypy_cache/3.5
/code/.pytest_cache
/code/current.txt
/code/tests/.pytest_cache
/code/tests/__pycache__
/files/mapper.json
/files/schizo.csv
/files/test.csv
/code/sghipt.py
/code/depannage.py
/code/.coverage
/code/tests/sample_image
/code/tests/output_sample_image
/code/tests/.coverage
/code/tests/testing.pyc
/.coverage
/code/fails.txt
/files/id_mapper.json
/files/complete_schizo.csv
/files/log.txt
/code/move_dumps.py
/code/tests/test_set
/files/girardet.csv
/files/new_girardet.csv
/files/fails.csv
/code/anon.py
files/yasser.csv
/files/fixed.csv
/files/one_more.csv
/files/valentin.csv
/files/checks
/files/last_hope.csv
/code/log.txt
/code/check_institution_name.py
/files/new_missing.csv
/files/missing.csv
/files/new_ids.csv
/code/example_heuristic.py
