/important
/files/patients.txt
/files/protocol.txt
/files/config.json
/code/TODO.txt
/code/special_queries.py
/code/fuzz.py
/.pytest_cache
/.ipynb_checkpoints
__pycache__/
/code/__pycache__/
protocol.csv
/build
/data
/code/current.txt
/code/__pycache__/